node_modules/
.env
build/
.DS_Store
*.log
logs/

# Webpack output
dist/

# Debugging
.vscode

# Intellij
.idea

# Make http calls in VSCode
client.http

# LNURL makes these for some reason
/tls.cert
/tls.key
